@import 'tailwindcss';

@theme{
  --color-blue: oklch(0.6 0.15 250);
  --color-yellow: oklch(0.6 0.15 90);
  --color-green: oklch(0.6 0.15 140);
  --color-yellow: oklch(0.6 0.15 90);
  --color-orange: oklch(0.6 0.15 30);
  --color-brown: oklch(0.6 0.15 20);
  --color-red: oklch(0.6 0.15 0);
  --color-pink: oklch(0.6 0.15 340);
  --color-teal: oklch(0.6 0.15 200);
  --color-magenta: oklch(0.6 0.15 320);
}